.LS0101__screen {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LS0101_MainTitle {
  margin-bottom: 15px;
  text-align: center;
  font-size: 95px;
  color: black;
  text-shadow: -1px -1px 0 #faed7d, 1px -1px 0 #faed7d, -1px 1px 0 #faed7d,
    1px 1px 0 #faed7d;
  font-weight: bold;
  line-height: 7.5rem;
}

.LS0101__subMenu {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.LS0101__subMenu div a {
  color: #fff;
  text-decoration: none;
}
