.ma1__menu {
  width: 100%;
  height: 58px;
  padding: 5px 0px;
  z-index: 100;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.9);
}

.ma1__menu__logo .logo {
  margin-left: 10px;
  width: 100px;
  height: 30px;
  background-size: cover;
  background-image: url("../assets/images/logo/4LEAF_LOGO_W.png");
}

.ma1__menu__list {
  color: #fff;
}

.ma1__menu__link div {
  font-size: 18px;
  margin: 20px;
  cursor: pointer;
  color: rgb(255, 184, 52);
}

.ma1__menu__link div a {
  display: block;
  padding: 15px;
  width: 120px;
  text-align: center;
}

.ma1__menu__link div.btn:before,
.ma1__menu__link div.btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: currentColor;
  transition: 0.3s ease-in-out;
}

.ma1__menu__link div.btn__ani:after {
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;
}

.ma1__menu__link div.btn__ani:before,
.ma1__menu__link div.btn__ani:after {
  width: 0;
  height: 2px;
}

.ma1__menu__link div.btn__ani:hover:before,
.ma1__menu__link div.btn__ani:hover:after {
  width: 100%;
}

.ma1__menu__link div .en {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  font-size: 13px;
}

.ma1__menu__link div a:hover .en {
  transform: translateX(140px);
  opacity: 1;
}

.menu__link__list {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ma1__menu__link.close {
  animation: 0.5s opacity forwards;
}

.menu__link__list div:nth-child(1) {
  animation: menuOpen 1.2s forwards;
}
.menu__link__list div:nth-child(2) {
  animation: menuOpen 0.9s forwards;
}
.menu__link__list div:nth-child(3) {
  animation: menuOpen 0.6s forwards;
}
.menu__link__list div:nth-child(4) {
  animation: menuOpen 0.3s forwards;
}

.menu__link__list div.close:nth-child(1) {
  animation: menuClose 0.25s forwards;
}
.menu__link__list div.close:nth-child(2) {
  animation: menuClose 0.5s forwards;
}
.menu__link__list div.close:nth-child(3) {
  animation: menuClose 0.75s forwards;
}
.menu__link__list div.close:nth-child(4) {
  animation: menuClose 1s forwards;
}

@keyframes menuOpen {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes menuClose {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-500px);
    opacity: 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
