.ma1__menu {
  width: 100%;
  height: 58px;
  padding: 5px 0px;
  z-index: 100;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.9);
}

.ma1__menu__list {
  color: #fff;
}

.ma1__menu__link div {
  font-size: 18px;
  margin: 20px;
  cursor: pointer;
}

.menu__link__list {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
