@import "./RS010101.css";
@import "./RS010102.css";
@import "./RS010103.css";
@import "./RS010104.css";

.RS0101__screen {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #000000;
}

.RS0101__MainTitle {
  font-size: 100px;
  text-align: center;
}
