.RS010104__screen {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #000000;

  background: linear-gradient(#f3e7e9, #e3eeff);
}

.RS010104__content {
  text-align: center;
}

.RS010104__mainTitle {
  font-weight: bold;

  margin-bottom: 15px;
}

.businessAddress {
  width: 600px;
  height: 600px;

  border-radius: 30px;
  margin-bottom: 20px;
}
