.RS010102__screen {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #000000;

  background: linear-gradient(#f3e7e9, #e3eeff);
}

.RS010102__content {
  text-align: center;
}

.RS010102__mainTitle {
  margin-bottom: 15px;
  font-weight: bold;
}

.bar {
  width: 2px;
  height: 50px;
  background-color: green;
}

.RS010102__des {
  display: flex;
  flex-direction: row;
  justify-content: center;

  text-align: left;
}

.RS010102__year {
  font-weight: bold;
  margin-right: 10px;
}
