@keyframes createRight {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.RS040101__screen {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.RS040101__screen__box {
  width: 100%;
  height: 100%;
  animation: createRight 1s forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rsb__btnArea {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.rsb__contain {
  width: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.rsb__contain__checked {
  width: 100%;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: red;
}

.rsb__contain ul,
.reb__contain input {
  padding: 5px;
  line-height: 1.2;
}

.rsb__contain ul li,
.rsb__contain input {
  margin: 5px;
  align-items: flex-start;
  color: #fff;
}

.rsb__contain input {
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  width: 85%;
  padding: 10px;
  font-size: 11px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.rsb__contain .rsb__contain__multi {
  height: 120px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border-bottom: 1px solid #fff;
}

.rsb__contain input:focus {
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid #f5cd79;
  width: 85%;
  padding: 10px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.164);
}

.rsb__btnArea .rsb__btnArea__Btn {
  height: 35px;
  margin: 10px;
  background: #0b0b0b;
  outline: none;
  border-radius: 10px 0px 10px 0px;
  color: #fff;
  text-shadow: 2px 2px 3px #777;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255, 0.3);
  animation: unSelectedBtn 0.8s forwards;
  animation: selectedBtn 0.8s forwards;
  transition: 0.6s;
  position: relative;
}

.rsb__btnArea .rsb__btnArea__Btn:before,
.rsb__btnArea .rsb__btnArea__selectBtn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
}

.rsb__btnArea .rsb__btnArea__Btn:hover::before,
.rsb__btnArea .rsb__btnArea__selectBtn:hover:before {
  animation: buttonHover 0.5s forwards;
}

.rsb__btnArea .rsb__btnArea__selectBtn {
  height: 35px;
  margin: 10px;
  background: rgb(255, 184, 52);
  outline: none;
  border: none;
  border-radius: 0px 10px 0px 10px;
  color: #fff;
  text-shadow: 2px 2px 3px #777;
  cursor: pointer;
  font-weight: 600;
  animation: selectedBtn 0.8s forwards;
  animation: unSelectedBtn 0.8s forwards;
}

.rsb__btnArea .rsb__btnArea__selectBtn2 {
  margin: 10px;
  background: #a55eea;
  outline: none;
  border: none;
  width: 120px;
  height: 25px;
  border-radius: 5px;
  color: #fff;
  text-shadow: 2px 2px 3px #777;
  cursor: pointer;
  font-weight: 600;
  animation: selectedBtn 0.8s forwards;
}

.rsb__contain .sendDataBtn {
  height: 30px;
  margin: 5px;
  width: 90%;
  outline: none;
  border: none;
  cursor: pointer;
  color: #0b0b0b;
  font-weight: 600;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid #f5cd79;
  background: linear-gradient(#feffecc0, #f5ce79);
}
.rsb__contain:hover .sendDataBtn {
  animation: contactBtn 0.3s ease-out;
  background: linear-gradient(#f5cd79, #f3f9a7);
}

.rsb__contain .sendDataBtnClick {
  margin: 5px;
  width: 90%;
  outline: none;
  background: linear-gradient(#f3f9a7, #cac531);
  border: none;
  cursor: pointer;
  color: #0b0b0b;
  font-weight: 600;
  border-radius: 10px;
  padding: 5px;
  animation: selectedBtn 1.5s forwards;
}

.rsb__contain__subDesc {
  font-style: italic;
  border: 1px solid #fff;
  padding: 5px;
  opacity: 0.8;
}

.rsb__contain .pageActive {
  color: red;
  font-weight: 600;
}

.rsb__containBtn .nextStepBtn,
.rsb__containBtn .complateStepBtn {
  width: 70px;
  height: 20px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  background: linear-gradient(#bdc3c7, #2c3e50);
  border-radius: 10px;
  font-weight: 600;
}

.rsb__containBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
