@charset "utf-8";
@import "./subMenu.css";
@import "./RS040101.css";
@import "./RS040102.css";

@keyframes selectedBtn {
  0% {
    opacity: 0;
    transform: rotateY(30deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@keyframes unSelectedBtn {
  0% {
    opacity: 0;
    transform: rotateY(40deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@keyframes buttonHover {
  0% {
    width: 0;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.267);
    width: 100%;
    border-radius: 10px;
  }
}

@keyframes contactBtn {
  from {
    transform: translateZ(0px) rotateX(0deg);
  }
  49.99% {
    transform: translateZ(100px) rotateX(90deg);
  }
  50.00% {
    transform: translateZ(100px) rotateX(-90deg);
  }
  to {
    transform: translateZ(0px) rotateX(0deg);
  }
}
