@charset "utf-8";
@import "./subMenu.css";
@import "./RS040101.css";
@import "./RS040102.css";
@import "./RS040103.css";

@keyframes selectedBtn {
  0% {
    opacity: 0;
    transform: rotateY(30deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@keyframes unSelectedBtn {
  0% {
    opacity: 0;
    transform: rotateY(40deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@keyframes buttonHover {
  0% {
    width: 0;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.267);
    width: 100%;
    border-radius: 10px;
  }
}

@keyframes contactBtn {
  from {
    transform: translateZ(0px) rotateX(0deg);
  }
  49.99% {
    transform: translateZ(100px) rotateX(90deg);
  }
  50.00% {
    transform: translateZ(100px) rotateX(-90deg);
  }
  to {
    transform: translateZ(0px) rotateX(0deg);
  }
}

@keyframes stepDes {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-50px);
  }
}

@keyframes stepActice {
  0% {
    border: none;
  }
  100% {
    border: 3px solid #fff;
  }
}

.RS0401__screen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.rs__sub__mainTitle {
  text-align: center;
  font-size: 110px;
  color: black;
  text-shadow: -1px -1px 0 #faed7d, 1px -1px 0 #faed7d, -1px 1px 0 #faed7d,
    1px 1px 0 #faed7d;
  font-weight: bold;
  line-height: 13.5rem;
  animation: createRight 1s forwards;
}
