@charset "utf-8";
@import "./reset.css";
@import "./menuBar.css";
@import "./menu.css";
@import "./projectBox.css";
@import "./RS0000.css";
@import "./LS0000.css";
@import "./LS0101.css";
@import "./RS0101.css";
@import "./LS0201.css";
@import "./RS0201.css";
@import "./RS020101.css";
@import "./RS020102.css";
@import "./RS0201.css";
@import "./LS0401.css";
@import "./RS0401.css";

@keyframes textAni {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes faviconAni {
  0% {
    width: 500px;
    height: 501px;
    transform: rotate(-60deg) scale(1.8);
    top: 30%;
    left: 30%;
    opacity: 0.1;
  }
  40% {
    opacity: 0.3;
  }
  100% {
    transform: rotate(0deg) scale(1) translateY(-35px);
    opacity: 0.8;
  }
}

*::selection {
  background-color: #fff;
  color: #2d3436;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-size: cover;
  background-position: center center;
  background-image: url("../assets/images/backImg/background.jpg");
}

.mainArea {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: row;
  position: relative;
  color: #fff;
}

.mainArea .favicon_ani {
  display: block;
  width: 27px;
  height: 31px;
  background-size: cover;
  top: 0;
  left: 10px;
  position: absolute;
  background-position: center center;
  background-image: url("../assets/images/logo/favicon_logo_w.png");
  animation: faviconAni 4s forwards;
  transform: translateY(-35px);
}

.mainArea__main {
  width: 100%;
  height: 100%;
  background: linear-gradient(#000000db, #131313e5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mainArea__main .textBox .main__text {
  font-weight: bold;
  opacity: 0;
  font-size: 200px;
  color: rgba(255, 255, 255, 0.149);
  -webkit-text-stroke: 2px #fff;
  animation: textAni 3s 2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.mainArea__main .main__des {
  margin-top: 20px;
  width: 100%;
}

.mainArea__main .main__des svg {
  width: 100%;
  height: 150px;
  font-size: 20px;
  letter-spacing: 8px;
}

.mainArea__main .main__des .stroke {
  stroke: #fff;
  stroke-width: 1px;
  stroke-dasharray: 0 250;
  stroke-opacity: 1;
  fill: rgba(255, 255, 255, 0.246);
  animation: stroke_offset 6s infinite;
  animation-timing-function: cubic-bezier(0.25, 0, 0.45, 0.94);
}
@keyframes stroke_offset {
  100%,
  25% {
    stroke-dasharray: 0 250;
    stroke-opacity: 1;
  }
  50%,
  75% {
    stroke-dasharray: 250 0;
    stroke-opacity: 0.75;
  }
  55%,
  70% {
    stroke-dasharray: 250 0;
    stroke-opacity: 0;
  }
}
.mainArea__main .main__des .fill {
  fill: rgb(255, 184, 52);
  fill-opacity: 0;
  animation: fill_offset 5s infinite;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@keyframes fill_offset {
  100%,
  25%,
  35%,
  90% {
    fill-opacity: 0;
  }
  50%,
  70% {
    fill-opacity: 1;
  }
}

.mainArea__main .copy {
  color: #aeaeae;
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  animation: createAni 2s forwards;
}

.mainArea__main .copy__right {
  position: absolute;
  bottom: 50px;
  right: 20px;
  cursor: pointer;
}

.mainArea__main .copy__right .contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.mainArea__main .copy__right .contact .contactUs {
  font-size: 16px;
}

.mainArea__main .copy__right .contact:hover .contact-icon {
  color: rgb(255, 184, 52);
}

.mainArea__main .copy__right .contact .line {
  width: 15px;
  height: 2px;
  margin: 0 10px;
  background-color: #fff;
}

.mainArea__main .copy__right .insta {
  display: block;
  text-align: end;
}

.mainArea__main .copy__right .insta:hover {
  color: rgb(255, 184, 52);
}

.mainArea__col-1 {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
}

.mainArea__col-2 {
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.mainArea__col-1 .ma1__topBox {
  margin: 30px 30px;
  margin-right: 150px;
}

.mainArea__col-1 .ma1__topBox .ma1__title,
.mainArea__col-1 .ma1__topBox .ma1__desc {
  padding: 15px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.mainArea__col-1 .ma1__topBox .ma1__title {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.mainArea__col-1 .ma1__topBox .ma1__desc {
  color: #fff;
  font-weight: 600;
  font-size: 11px;
  margin-top: 100px;
}

.ma1__content {
  width: 100%;
  height: 100%;
  color: #fff;
}

.rs__sub {
  width: 100%;
  height: 100%;
  color: #fff;
}

@media (max-width: 425px) {
  .mainArea {
    flex-direction: column;
  }

  .mainArea__col-1 {
    width: 100%;
    background: linear-gradient(#2d3436, #636e72);
    height: 50%;

    display: flex;
    flex-direction: row;
  }

  .mainArea__col-2 {
    width: 100%;
    background: linear-gradient(#747d8c, #dfe6e9);
    height: 50%;
  }

  .mainArea__col-1 .ma1__topBox {
    margin: 10px 10px;
    margin-right: 50px;
  }

  .mainArea__col-1 .ma1__topBox .ma1__desc {
    color: #fff;
    font-weight: 600;
    font-size: 11px;
    margin-top: 20px;
  }
}
