@charset "utf-8";

@keyframes createAni {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  80% {
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
  }
}

.subMenu {
  display: flex;
  flex-direction: column;
  margin: 40px 0px;
  animation: createAni 2s forwards;
}

.subMenu__up {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.subMenu__down {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.subMenu__down__icon {
  margin: -10px 20px;
  cursor: pointer;
  padding: 5px;
  color: #fff;
}

.subMenu__up__title {
  font-size: 22px;
  font-weight: 600;
  padding: 5px;
  text-shadow: 3px 3px 4px #777;
}

.subMenu__up__desc {
  font-size: 12px;
  margin: 10px;
  border-bottom: 1px solid #fff;
}

.subMenu__down span {
  font-size: 11px;
  font-style: italic;
}
